application:
    languages:
        ru_RU: Русский
        en_US: English

server:
    port: 8081

telegram:
    bot:
        name: hhRadarBot
        token: 1359139787:AAFeVic5hsxhW7vuXAw0b4-jTBy4ER3gCZs

headhunter:
    api:
        url: https://api.hh.ru/
        baseUrl: https://hh.ru/
    timeBetweenPublishing:
        hours: 4

oauth:
    clientId: KUJ48JTLOCJ579MFOSI4I8LES5IL53UI75F7BSBDAUP49A0TFMHB4MPU568DU8A4
    clientSecret: JLKO7ALHN49KUFKELJ554UHM7VTM2DCMT9KUP863IFNO0CJDIS2PCQ1D18EHU8GR
    redirectUri: https://ao74l2kwve.execute-api.us-east-2.amazonaws.com/hhRadarBot

logging:
    pattern:
        rolling-file-name: "${LOG_FILE}.%d{yyyy-MM-dd_HH-mm}.%i.gz"
        file:
            name: "logs/application.log"